<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me page</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>Welcome to my About page!</h1>

    <h2>I have been studying web design now for two years. I am excited to continue learning javascript! Outside of school I enjoy gaming, spending time with family and friends, and exercising.</h2>
</body>
</html>