<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>my index.ejs page!!!</h1>

    <h2>Scary Movies:</h2>

    

    <div class="container">
    <ul>
        <% movies.forEach(function(movie) { %>
            <li><b><a href="/details/<%= movie.title %>"> <%= movie.title %> </a></b></li>
          <% }); %>
    </ul>
    </div>
  
</body>
</html>