<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Homepage</title>
    <link rel="stylesheet" href="./css/styles.css">

    <!-- React Libraries -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
       
    const Movies = (props) => {
        // props is an array
        //console.log(props)
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.title}
        </li>);
        return <ul>{listItems}</ul>
    }

    const showDetail = (event) => {
        console.log(event.target)
        console.log(event.target.innerText)
        console.log(event.target.id)
        window.location.href = "/details/" + event.target.innerText;
    }

    const MovieDetail = (props) => {
        return (
        <div className="movie_details">    
            <h2>Movie details:</h2> 
            <form>
            Title: <input type="text" name="title" value={props.item.title || ""} onChange={props.handleChange}></input>
            Director: <input type="text" name="director" value={props.item.director || ""} onChange={props.handleChange}></input>
            Year Released: <input type="number" name="yearReleased" value={props.item.yearReleased || ""} onChange={props.handleChange}></input>
            Budget: <input type="text" name="budget" value={props.item.budget || ""} onChange={props.handleChange}></input>
            Box-office: <input type="text" name="boxOffice" value={props.item.boxOffice || ""} onChange={props.handleChange}></input>
            </form>
            <button id="clear_form" name="clear" onClick={props.clearForm}>Clear</button>
        </div>
        )
    }


        const App = () => {
            const [items, setItems] = React.useState( <%- movies %> );
            const [currentItem, setCurrentItem] = React.useState({});
            //console.log(items)

            // list click event handler 
            const selectItem = (event) => {
                console.log(event.target);
                const found = items.find((item) => {
                    return item.title === event.target.innerText;
             });
                setCurrentItem(found);
            }
            // clear form
            const clearForm = () => {
                setCurrentItem({});
            }

            // update list state
            const handleChange = (event) => {
                let newItem = { ...currentItem } ;
                newItem[event.target.name] = event.target.value;
            // update currentItem state
                 setCurrentItem(newItem);
            // update list state
            items.find((item, index) => {
                if (item._id == newItem._id) {
                items[index] = newItem;
            setItems(items);
            }
          })
        }

            return <div>
                <h1>Hello, IT122!</h1>
                <h2>Movie inventory</h2>
                <h4><b>Click on a movie title to learn more details!</b></h4>
                <h3><i>< Movies data={items} clickHandler={selectItem}/></i></h3>
                < MovieDetail item={currentItem}
                handleChange={handleChange}
                clearForm={clearForm}
                />
            </div>;
        }

        const container = document.getElementById('root');
        const root = ReactDOM.createRoot(container);
        root.render(< App />);



    </script>

  
</body>
</html>