body {
    background-color: black;
    color: limegreen;
}

h1, h2, h3, h4, h5{
    /*text-align: center;*/
}

.inventory_container {
    margin-left: 90px;
}


ul {
    display: inline-block;
    /*text-align: center;*/
    list-style-type: none;
    text-align: left;
}

li {
    /*display: inline;*/
    margin-left: 50px;
    margin-right: 50px;
    /*text-align: center;*/
    
}

li a {
    color: darkgreen;
}

.container {
    text-align: center;
}

.movie_details {
    display: block;
    margin-left: 100px;
    
}

#clear_form {
    
    display: inline-block;
}

.buttons {
    clear: both;
    margin-top: 10rem;
}

#save_movie {
    display: inline-block;
}

form {
    width: 350px;
}

form > label
{
  float: left;
  clear: right;
}

form > input
{
  float: right;
}