body {
    background-color: black;
    color: limegreen;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: center;
}

li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
}

li a {
    color: darkgreen;
}

.container {
    text-align: center;
}
